<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
  <php>
    <!-- <server name="KERNEL_DIR" value="./src/Tests/Resources" /> -->
  </php>
  <testsuites>
    <testsuite name="GlorpenPropelBundleBundle Test Suite">
      <directory suffix="Test.php">./src/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>./src/</directory>
      <exclude>
        <directory>./src/Tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
