<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php">
  <php>
    <server name="SYMFONY" value="./vendor/symfony/symfony/src" />
    <!-- <server name="KERNEL_DIR" value="./Tests/Resources" /> -->
  </php>
  <testsuites>
    <testsuite name="GlorpenPropelBundleBundle Test Suite">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./Tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
